body {
    background: #e2e4e4;
    font-size: 15px;
}

.mt-50 {
    margin-top: 50px;
}

h2 {
    text-align: center;
}

dd {
    padding-left: 15px;
}

.error {
	color: red;
}

#datetimepicker {
	padding: 5px;
}